<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
	</head>

	<body>
		<div class="mui-content">
			<ul class="mui-table-view app-table">
				<li class="mui-table-view-cell">
					<div class="app-row">
						<button class="mui-btn mui-btn-block mui-btn-primary" id="searchDevices">搜索设备</button>
						<button class="mui-btn mui-btn-block mui-btn-primary" id="open">开启设备</button>
						<button class="mui-btn mui-btn-block mui-btn-primary" id="close">关闭设备</button>
						<button class="mui-btn mui-btn-block mui-btn-primary" id="accept">处于接收</button>
						<button class="mui-btn mui-btn-block mui-btn-primary" id="send">处于发送</button>
					</div>
				</li>
			</ul>
			<ul class="mui-table-view bluetooth-list" id="NoTMatch"></ul>
			<ul class="mui-table-view bluetooth-list" id="Matched"></ul>
			<div class="mui-content" id="msg">
			</div>
		</div>
	</body>
	<script data-main="../js/app/ble" src="../js/require.js"></script>

</html>